* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 90%;
    background-color: pink;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
}

.banner {
    background-color: lightcyan;
    height: 500px ;
    width: 100%;
    background-image: url(images/banner.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px 5px white;
    animation: slider 5s infinite linear;
}

@keyframes slider{
    0%{ background-image: url(images/banner.jpeg); }
    35%{ background-image: url(images/banner2.jpg); }
    75%{ background-image: url(images/banner3.jpg); }
}



.banner h1 {
    text-align: center;
    text-shadow: 2px 2px 4px purple;
    color: rgb(80, 119, 153);
    font-size: 1.3cm;
    letter-spacing: 15px;
    padding-top: 70px;
}

}
.nav {
    background-color: rgb(152, 226, 255);
    border: 2px solid white;
    border-radius: 15px;
}

.nav ul {
    list-style-type: none;
    text-align: center;
}

.nav ul li {
    display: inline-block;
    margin: 15px;
    padding: 15px;
    background-color: red;
    border: 2px solid blue;
    border-radius: 15%;
}

.nav ul li a {
    text-decoration: none;
    font size: 24px;
}

.nav ul li a {
    color: white;
}

.nav ul li:hover {
    background-color: aquamarine;
}

.inner h2 {
    text-align: center;
    list-style-type: none;
    text-decoration: underline;
    padding-top: 20px;
    color: rgb(255, 88, 88);
}

.inner p {
    padding-top: 10px;
    color: blue;
    padding-bottom: 15px;
    text-align: center;
}

.text h3 {
    text-align: center;
    padding-left: 20px;
    color: rgb(8, 0, 8);
    padding-top: 20px;
}

.text ul li {
    padding-top: 15px;
}

.cards {
    background-color: lightgray;
    width: 90%;
    height: 205px;
    margin: 0 auto;
    border-radius: 20px;
    border: 2px solid darkblue;
    transition: 1s ;
}

.cards:hover {
    transform: scale(1.1);
    background: ghostwhite;
    box-shadow: 2px 2px 4px;
}


.cards img {
    height: 100%;
    float: left;
    margin-right: 20px;
    border-radius: 20px;
}

.outer h2 {
    text-align: center;
    padding-top: 100px;
    text-decoration: underline;
    color: red;
}
.outer p {
     padding-top: 10px;
}

.card2 img {
    height: 100%;
    float: left;
    margin-right: 20px;
}

.outer p {
    padding-top: 10px;
    color: rgb(98, 0, 255);
    padding-bottom: 15px;
}

table {
    border: 2px solid blueviolet;
    border-collapse: collapse;
    height: 3cm;
    padding-top: 15px;
}
table tr td, th {
    border: 4px solid rgb(52, 78, 228);
    height: 100%;
    
}

.first-col {
    width: 10cm;
    background-color: aqua;
    text-align: center;
}

.second-col {
    width: 6cm;
    background-color: aqua;
    text-align: center;
}

.third-col {
    width: 100cm;
    background-color: aqua;
    text-align: center;
    
}

table tr td img {
    float: left;
    height: 6cm;
    width: 
}

table tr {
    text-align: center;
}

table td {
    height: 3cm;
    width: 5cm;
}

.footer {
    
}